<a href="https://colab.research.google.com/github/nwstevens/fpl/blob/main/Retrieving_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Data from FPL

Retrieve data, determine shape and info included.

In [71]:
import requests
import pandas as pd
import json

# Make a request to GET the data from the FPL API
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
response = requests.get(url)

# Convert JSON data to a python object
data = json.loads(response.text)

# Create pandas DataFrame from JSON player data
df = pd.DataFrame.from_dict(data['elements'])

# Print first 5
df.head()

   chance_of_playing_next_round  ...  penalties_text
0                           NaN  ...
1                         100.0  ...
2                         100.0  ...
3                          75.0  ...
4                         100.0  ...

[5 rows x 67 columns]

# Resorting Data

Format columns.

In [72]:
# Format Column Names
df.columns = df.columns.str.replace('_',' ')
df.columns = df.columns.str.title()

# Rename Selected Columns
df = df.rename(columns={'Second Name':'Last Name'})

# Set index
df = df.set_index('Last Name')

In [73]:
# Print first 5 rows
df.head()

                      Chance Of Playing Next Round  ...  Penalties Text
Last Name                                           ...
Özil                                           NaN  ...
Papastathopoulos                             100.0  ...
Luiz Moreira Marinho                         100.0  ...
Aubameyang                                    75.0  ...
Soares                                       100.0  ...

[5 rows x 66 columns]

In [74]:
# Drop unneed columns
df = df.drop(columns=['Dreamteam Count','News','News Added','Photo','Squad Number','Special','Web Name','In Dreamteam'])

# Print
pd.set_option('display.max_rows',100)
df

                      Chance Of Playing Next Round  ...  Penalties Text
Last Name                                           ...
Özil                                           NaN  ...
Papastathopoulos                             100.0  ...
Luiz Moreira Marinho                         100.0  ...
Aubameyang                                    75.0  ...
Soares                                       100.0  ...
...                                            ...  ...             ...
Ferreira                                       NaN  ...
Hoever                                         NaN  ...
Cabral Semedo                                  NaN  ...
Shabani                                        NaN  ...
Ait Nouri                                      NaN  ...

[576 rows x 58 columns]